@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin link-no-underscore() {
  &, &:hover {
    text-decoration: none;
  }
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-ellipsis($max-width: 100%) {
  display: inline-block;
  overflow: hidden;
  max-width: $max-width;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin drop-shadow($position: bottom) {
  @if $position == top {
    $position: -2px;
  } @else {
    $position: 2px;
  }

  box-shadow: 0px $position 4px 0px rgba(0,0,0,0.16);
}

// Responsive Utilities
// Note: `xs` (breakpoint-xs) isn't supplied because
// we're supposed to be implementing mobile-first practices
// example:
// @include breakpoint-sm() {
//   color: red;
// }
@mixin breakpoint-sm() {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    @content;
  }
}

@mixin breakpoint-md() {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content;
  }
}

@mixin breakpoint-lg() {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content;
  }
}

@mixin breakpoint-xl() {
  @media (min-width: map-get($grid-breakpoints, xl)) {
    @content;
  }
}

// class utilities
// sparingly use :)

.u-clearfix {
  @include clearfix;

  .u-left { float: left !important;}
  .u-right { float: right !important; }
}

.u-ellipsis {
  @include text-ellipsis;

  &.-expander:hover {
    max-width: 10000px !important;
  }
}

// Spacers
.u-no-spacer { margin-bottom: 0 !important; }
.u-spacer-small { margin-bottom: $spacer-small !important; }
.u-spacer { margin-bottom: $spacer !important; }
.u-spacer-large { margin-bottom: $spacer-large !important; }

// Type
.u-text-up { text-transform: uppercase !important; }
.u-text-low { text-transform: lowercase !important; }
.u-text-left { text-align: left !important; }
.u-text-center { text-align: center !important; }
.u-text-right { text-align: right !important; }

// Text color variants
/* .u-text-sky { color: $brand-sky; }
.u-text-crimson { color: $brand-crimson; }
.u-text-emerald { color: $brand-emerald; }
.u-text-sun { color: $brand-sun; }
.u-text-muted { color: $brand-gray-dk; } */

// Center block
.u-centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Header bold
.u-heading-bold {
  font-weight: 600;
}
