.form-control {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 7px 8px;
  vertical-align: middle;
  background-color: $color-white;
  border: 1px solid $color-gray;
  border-radius: $border-radius-base;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);

  &:focus {
    border-color: $color-blue;
  }

  &.-disabled,
  &:disabled {
    color: $color-gray;
    border-color: $color-gray-light;
    background: $color-gray-light;
    cursor: not-allowed;
  }

  &.-red,
  &.-red:focus {
    border-color: $color-red;
  }
}

.form-group {
  position: relative;
}

.form-group .form-control + .message {
  visibility: hidden;
  position: absolute;
  top: 40px;
  z-index: 9999;
  max-width: 220px;
  padding: 10px 15px;
  line-height: 1;
  font-size: $font-size-small;
  text-align: center;
  color: $color-white;
  background: $color-red;
  border-radius: 5px;
}

.form-group .form-control + .message:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 5%;
  border-bottom: 8px solid $color-red;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.form-group .form-control:hover + .message,
.form-group .form-control:focus + .message {
  visibility: visible;
}


.form-group .form-control + .message.-top {
  bottom: 40px;
  top: -40px;
}

.form-group .form-control + .message.-top:after {
  top: 100%;
  border-top: 8px solid $color-red;
  border-bottom: none;
}

.form-group .form-control:hover + .message.-top,
.form-group .form-control:focus + .message.-top {
 visibility: visible;
}


// fix issue with <select> padding
select.form-control {
  height: 34px;
}

label {
  width: 100%;
  display: inline-block;
}

// form containers
.form-group {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  width: 100%;

  .addon {
    position: absolute;
  }

  .addon:first-child {
    left: 0;
  }

  .addon:last-child {
    right: 0;
  }

  .form-control:first-child {
    padding-right: 40px; // Size of the icon
  }

  .form-control:last-child {
    padding-left: 40px; // Size of the icon
  }
}

.form-actions {
  > *:not(:last-child) {
    margin-right: $padding-x;
  }
}
