@mixin btn-variant($local-bg, $local-color: $color-white) {
  color: $local-color;
  background: $local-bg;

  &:hover,
  &:focus {
    color: $local-color;
    background: darken($local-bg, 5%);
  }
}

.btn {
  @include link-no-underscore;
  display: inline-block;
  padding: 10px 16px;
  line-height: 1; // Reset line-height
  font-size: $font-size-base;
  border: 1px solid transparent;
  border-radius: $border-radius-rounded;
  outline: none; /* remove native outline */
  cursor: pointer;
  transition: 0.1s all;

  // To center all items inside the button vertically
  // See https://github.com/dev-onenetworkecommerce/aia/issues/84
  & > * {
    vertical-align: middle;
  }

  &.-default {
    @include btn-variant($color-white, $color-black);
    border: 1px solid $color-gray;
  }

  &.-disabled,
  &:disabled,
  &.-disabled:hover,
  &:disabled:hover {
    color: lighten($color-black, 20%);
    background: $color-gray;
  }

  &.-block {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &.-xs {
    padding: 0 15px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
  }

  &.-small {
    padding: 0 20px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
  }

  &.-large {
    padding: 0 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
  }

  &.-large > .icon:first-child {
    margin-right: $padding-x-large;
  }

  &.-large > .icon:last-child {
    margin-left: $padding-x-large;
  }

  &.-disabled,
  &:disabled {
    cursor: not-allowed;
    border: 0;
    background-color: $color-gray;
    color: $color-gray;
  }

  > .icon:first-child {
    margin-right: ($padding-x / 2);
  }

  > .icon:last-child {
    margin-left: ($padding-x / 2);
  }

  > .icon:first-child:last-child {
    margin: 0;
  }
}
