.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  background: $color-white;
  border-bottom: 1px solid $color-gray;

  .nav {
    @include clearfix;
  }

  .nav > * {
    float: left;
    margin-right: 10px;
  }

  .nav > *:last-child {
    margin-right: 0; //
  }

  .nav:last-child {
    margin-left: auto;
  }

  // Cancel the rule above
  .nav:first-child:last-child {
    margin-left: initial;
  }

  .link {
    @include link-no-underscore;
    position: relative; // Contain the linebar (::before)
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    line-height: 60px;
    color: $color-gray;
    transition: 0.09s color;
  }

  .link.-active,
  .link:hover {
    color: $color-black;
  }

  .link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
  }

  .link.-active::before {
    background: $color-blue;
  }

  /**
   * @example
   <div className="nav">
    <div className="searchbar">
      <form>
        <input text="search" className="form-control">
      </form>
    </div>
  </div>
   */
  .searchbar {
    width: 250px;
  }
}
