.rate-box {
  display: flex;
  padding-top: $spacer;
  padding-bottom: $spacer;

  > .average {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    width: 40%;
    font-size: 80px;
  }

  > .attributelist {
    width: 60%;
    order: 2;
  }

  > .attributelist > .attribute {
    display: flex;
    // Align for the table-of-contents-style dots
    align-items: flex-end;
    position: relative;
    margin-bottom: $spacer;
  }

  > .attributelist > .attribute:last-child {
    margin-bottom: 0;
  }

  // since both elements are headings,
  // explicitly add rule to both elements
  // instead of its parent element
  // to protect element-specific styling
  > .attributelist > .attribute > .name,
  > .attributelist > .attribute > .score {
    margin-bottom: 0; // remove default heading margin

    // Hide overlapping dots;
    z-index: 3;
    background: $color-white;

    font-weight: bold;
    text-transform: uppercase;
    line-height: 1; // Reset line-height
  }

  > .attributelist > .attribute > .name {
    padding-right: 6px; // Space for the overlapping dots
  }

  > .attributelist > .attribute > .score {
    margin-left: auto; // Flex: to align right
    padding-left: 6px; // Space for the overlapping dots
  }

  > .attributelist > .attribute::after {
    content: "";
    position: absolute;
    bottom: 3px; // Lift a little bit
    left: 0;
    width: 100%;
    border-bottom: 2px dotted $color-gray;
  }
}
