.search-section {
  padding-top: 50px;

  .searchbar {
    display: block;
    padding: 0;
    margin-bottom: $spacer;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -5px;
    color: $color-black;
    background: none;
    border: none;
    outline: none;
  }

  > .instructions {

  }
}
